<script>
    function initializeWithOffer() {
        WebRTC.initializeWithOffer();
    }
    function initializeWithAnswer() {
        const text = JSON.parse($("#app").value);
        WebRTC.initializeWithAnswer(text);
    }
    function setSDP() {
        const text = JSON.parse($("#app").value);
        WebRTC.setSDP(text);
    }
    function sendToRemote() {
        const text = JSON.parse($("#app").value);
        WebRTC.sendToRemote(text);
    }

    shadowDocument.querySelector("#initializeWithOffer").addEventListener("click", initializeWithOffer);
    shadowDocument.querySelector("#initializeWithAnswer").addEventListener("click", initializeWithAnswer);
    shadowDocument.querySelector("#setSDP").addEventListener("click", setSDP);
    shadowDocument.querySelector("#sendToRemote").addEventListener("click", sendToRemote);
</script>

<style></style>

<template>
    <p>Please open this view in two tabs (A/B), and keep it open:</p>
    <ol>
        <li>Step 1 on A: Click "Create offer" and copy offer to clipboard.</li>
        <li>Step 2 on B: Paste offer and click "Create answer". Copy answer to clipboard.</li>
        <li>Steb 3 on A: Click "Set remote". The connection should now be established.</li>
        <li>You can now Send messages to remote. Please make sure, they are valid JSON.</li>
    </ol>
    <textarea id="app"></textarea>
    <button id="initializeWithOffer">Step 1 on A: Create offer</button>
    <button id="initializeWithAnswer">Step 2 on B: Create answer</button>
    <button id="setSDP">Step 3 on A: Set remote</button>
    <button id="sendToRemote">Send to Remote</button>
</template>